{% extends 'layout.html.twig' %}

{% block content %}
<main class="app-content">
            <div class="app-title">
                <div>
                    <h1><i class="fa fa-users"></i>&nbsp;Edition d'un employé</h1>
                </div>
                <ul class="app-breadcrumb breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{{ path('main_index') }}"><i class="fa fa-home fa-lg"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{{ path('employe_list') }}">Employés</a>
                    </li>
                    <li class="breadcrumb-item">Edition d'un employé</li>
                </ul>
            </div>
            <div class="tile">
                    <div class="alert alert-dismissible alert-success my-4">
                        <button class="close" type="button" data-dismiss="alert">×</button><strong>Well done!</strong> Message flash.
                    </div>
                <form class="form-horizontal">
                    <section>
                        <h3>Informations générales</h3>
                        <div class="row mt-4">
                            <div class="offset-md-4 col-md-8">
                                <div class="form-group row">
                                    <label class="control-label col-md-3">Prénom</label>
                                    <div class="col-md-9">
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">Nom</label>
                                    <div class="col-md-9">
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">Email</label>
                                    <div class="col-md-9">
                                        <input class="form-control is-invalid" type="email">
                                        <div class="form-control-feedback text-danger">Un message d'erreur</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <hr/>
                    <section>
                        <h3>Production</h3>
                        <div class="row mt-4">
                            <div class="offset-md-4 col-md-8">
                                <div class="form-group row">
                                    <label for="select-job" class="control-label col-md-3">Métier</label>
                                    <div class="col-md-9">
                                        <select class="form-control" id="select-job">
                                            <option>Métier 1</option>
                                            <option>Métier 2</option>
                                            <option>Métier 3</option>
                                            <option>Métier 4</option>
                                            <option>Métier 5</option>
                                            <option>Métier 6</option>
                                            <option>Métier 7</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">Coût journalier (en €)</label>
                                    <div class="col-md-9">
                                        <input class="form-control" type="number" min="0">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">Date d'embauche</label>
                                    <div class="col-md-9">
                                        <input class="form-control" type="date">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <hr/>
                    <div class="row">
                        <div class="offset-md-6 col-md-6">
                            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i>Enregistrer</a>
                        </div>
                    </div>
                </form>
            </div>
        </main>
{% endblock %}